<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PWYW - Collega Carta</title>
  <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="login-register.css">
  <script src="../../lib/jquery.min.js"></script>
  <script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../Frontend/controller/richiedi.js"></script>
  <script src="../controller/addpayments.js"></script>
  <script src="../controller/logout.js"></script>


</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">PWYW</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="panel.html">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="transactions.html">Movimenti</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="sendmoney.html">Invia Denaro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="sendcommoney.html">Paga Esercizi Commerciali</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="requestmoney.html">Richiedi Denaro</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="periodicalpayments.html">Pagamenti Periodici</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="profile.html">Gestisci Profilo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="cursor:pointer;" onclick="slogga()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<body>

    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Collega Carta</h5>
                <form class="form-signin" onSubmit="return registraCarta(document.getElementById('inputCodice').value, document.getElementById('inputCarta').options[document.getElementById('inputCarta').selectedIndex].value, document.getElementById('inputScadenza').value, document.getElementById('inputCVV').value)">
                  <div class="form-label-group">
                    <input type="codice" id="inputCodice" class="form-control" placeholder="xxxxxxxxxxxxxxxx" required pattern="[0-9]{13,16}" autofocus>
                    <label for="inputCodice">Numero di carta</label>
                  </div>

                  <div class="form-label-group">

                    <select class="form-control" id="inputCarta" required>
                        <option value = "VISA" selected>Visa</option>
                        <option value = "MASTERCARD">Mastercard</option>
                        <option value = "AMERICAN EXPRESS">American Express</option>
                        <option value = "DISCOVER">Discover</option>
                        <option value = "CARTA AURA">Carta Aura</option>
                        <option value = "MAESTRO">Maestro</option>
                    </select>
                  </div>
    
                  <div class="form-label-group">
                    <input type="scadenza" id="inputScadenza" class="form-control" placeholder="MM/YYYY" required pattern="1[0-2]/[0-9]{4}|0[1-9]/[0-9]{4}">
                    <label for="inputScadenza">Scadenza</label>
                  </div>

                  <div class="form-label-group">
                    <input type="cvv" id="inputCVV" class="form-control" placeholder="xxx" required pattern="[0-9]{3}">
                    <label for="inputCVV">Codice CVV</label>
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Procedi</button>
                  <hr class="my-4">
                  <div id="popup"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>
